.p-t-none {
    padding-top: 0 !important;
}

.p-t-xxs {
    padding-top: 1px;
}

.p-t-xs {
    padding-top: 5px;
}

.p-t-sm {
    padding-top: 10px;
}

.p-t {
    padding-top: 15px;
}

.p-t-md {
    padding-top: 20px;
}

.p-t-lg {
    padding-top: 30px;
}

.p-t-xl {
    padding-top: 40px;
}

.p-t-xxl {
    padding-top: 50px;
}


.p-l-none {
    padding-left: 0 !important;
}

.p-l-xxs {
    padding-left: 1px;
}

.p-l-xs {
    padding-left: 5px;
}

.p-l-sm {
    padding-left: 10px;

}

.p-l {
    padding-left: 15px;
}

.p-l-md {
    padding-left: 20px;
}

.p-l-lg {
    padding-left: 30px;
}

.p-l-xl {
    padding-left: 40px;
}

.p-l-xxl {
    padding-left: 50px;
}

.landing-li-header {
    list-style-type: none;
    padding:2px 5px 2px 80px;
    display: table;
    width: 100%;
    text-align: left;
}

.landing-li-header span{
    display: table-cell;
    vertical-align: middle;
}

.landing-li {
    list-style-type: none;
    padding:2px 5px 3px 95px;
    display: table;
}

.landing-li span{
    display: table-cell;
    vertical-align: middle;
}


.landing-li-m-header {
    list-style-type: none;
    padding:2px 5px 3px 90px;
    font-size: 110%;
    display: table;
    text-align: left;
    width: 100%;
}

.landing-li-m-header span{
    display: table-cell;
    vertical-align: middle;
}

.landing-li-m {
    list-style-type: none;
    padding:2px 5px 3px 110px;
    font-size: 110%;
    display: table;
}

.landing-li-m span{
    display: table-cell;
    vertical-align: middle;
}

.landing-fs-md {
    font-size: medium;
}

.navbar-hover li a:hover
{
    color: #F66261;
}

.landing-fs-lg {
    font-size: large;
}

.landing-height {
    height: 500px;
    background-image:url('../img/bg.jpg');
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
    /*-webkit-filter: blur(2px);*/
    /*-moz-filter: blur(2px);*/
    /*-ms-filter: blur(2px);*/
    /*filter: blur(2px);*/
}

.landing-col-lg-3 {
    width: 30%;
}

.landing-col-lg-offset-1 {
    margin-left: 3.33333333%;
}

.landing-bg-testimonial {
    background-image: url("../img/oahelp_evaluate.png");
    /*background-image: url("../img/tst.jpg");*/
}

.landing-bg-opacity {
    /*background:rgba(0, 0, 0, 1) none repeat scroll 0 0 !important;!*实现FF背景透明，文字不透明*!*/
    /*filter:Alpha(opacity=80); background:#fff;!*实现IE背景透明*!*/
/*p{ position:relative;}!*实现IE文字不透明*!*/
}

.landing-right {
    right: 0;
    left: auto;
}

.landing-fa-size {
    font-size: 30px;
    margin-left: -20px;
    margin-right: 5px;
    color: #27c24c;
}

.landing-fa-size3 {
   font-size: 130%;
}

.landing-fa-size2 {
    font-size: 120%;
}

.landing-yahei {
    font-family:"Microsoft YaHei";
}

.landing-text-white {
    color: #fff;
    opacity: 0.75;
}
.landing-lh-1x {
    line-height: 1.7;
}
.landing-intro {
    /*border: 1px solid red;*/
    /*height: 200px;*/
    padding: 10px 30px;
    text-align: center;
}

.landing-intro-text p{
    /*text-align: center;*/
}

.landing-intro-text h4 {
    margin:30px 0px 20px 0px ;
    font-family:"Microsoft YaHei";
}

.landing-intro-img {
    color: #F66261;
    display: inline-block;
    /*width: 5.71429rem;*/
    /*height: 5.71429rem;*/
    /*font-size: 50px;*/
    width: 6.857148rem;
    height: 6.857148rem;
    font-size: 60px;
    border: 0.07143rem solid #F66261;/*#7a9e70;*/
    border-radius: 100%;
}

.landing-voice::before {
    content: "“";
    font-size: 80px;
    font-weight: bold;
}

.landing-comment-size {
    /*font-size: 300%;*/
    font-size: 60px;
    margin-right: .25em;
    vertical-align: -.4em;
    /*color: #CBCBCB*/
}

.landing_comment_left {
    font-size: 18px;
    width: 500px;
    margin: 0.25em -1em;
    padding: 0.1em 40px;
    line-height: 1.45;
    position: relative;
}

.landing_comment_left:before {
    display: block;
    content: "\e90b";
    font-size: 80px;
    position: absolute;
    left: -5px;
    top: -45px;
}

.landing_comment_right:before {
    /*display: block;*/
    content: "\e90c";
    font-size: 80px;
    /*position: absolute;*/
    top: 23px;
    margin-left: -30px;
}

.landing-feature {
    text-align: center;
    display: table;
    height:100px;
}

.landing-feature span {
    display: table-cell;
    vertical-align: middle;
}

.landing-feature-img {
    /*font-size: 45px;*/
    /*width: 4.28571rem;*/
    /*height: 4.28571rem;*/
    font-size: 54px;
    width: 5.142852rem;
    height: 5.142852rem;
    color: #F66261;
    border-radius: 100%;
    border: 0.07143rem solid #F66261;
    text-align: center;
    /*display: inline-block;*/
    /*display: table-cell;*/
    /*vertical-align: middle;*/
}

.landing-feature-text {
    /*text-align: left;*/
    text-align: center;
}

@media screen and (min-width: 48em){
    .landing-feature-text{
        text-align: left;
    }
}
.landing-text {
    text-align: center;
}

@media screen and (min-width: 48em){
    .landing-text {
        text-align: left;
    }
}

.landing-feature-text p{
    line-height: 1.5;
    color: #676767;
    font-family: "Helvetica Neue", Helvetica, Arial;
}

.landing-feature-text h4{
    color: #444444;
}

body h4 {
    font-family:"Microsoft YaHei";
}

.landing-chat-i {
    margin-right: 5px;
    margin-left: 1px;
}

/*blockquote {*/
    /*font-family: Georgia, serif;*/
    /*font-size: 18px;*/
    /*font-style: italic;*/
    /*width: 500px;*/
    /*margin: 0.25em -1em;*/
    /*padding: 0.1em 40px;*/
    /*line-height: 1.45;*/
    /*position: relative;*/
    /*!*color: #383838;*!*/
    /*color: #00A000;*/
/*}*/

/*blockquote:before {*/
    /*display: block;*/
    /*content: "\201C";*/
    /*font-size: 80px;*/
    /*position: absolute;*/
    /*left: -20px;*/
    /*top: -20px;*/
    /*color: #FF0000;*/
    /*!*color: #7a7a7a;*!*/
/*}*/

/*blockquote cite {*/
    /*color: #999999;*/
    /*font-size: 14px;*/
    /*display: block;*/
    /*margin-top: 5px;*/
/*}*/

/*blockquote cite:before {*/
    /*content: "\2014 \2009";*/
/*}*/

/*.landing-quote-before:before {*/
    /*font-family: Georgia, serif;*/
    /*content: "\201C";*/
    /*font-size: 60px;*/
    /*margin-right: .25em;*/
    /*vertical-align: -.4em;*/
    /*color: #CBCBCB*/
/*}*/

/*.landing-quote-after:after {*/
    /*font-family: Georgia, serif;*/
    /*content: "\201D";*/
    /*font-size: 60px;*/
    /*margin-right: .25em;*/
    /*vertical-align: -.4em;*/
    /*color: #CBCBCB;*/
/*}*/

.landing-price-size {
    /*font-size: 20px;*/
    /*margin: 0.25em -1em;*/
    /*padding: 0.1em 40px;*/
    /*line-height: 1.45;*/
    /*position: relative;*/
}

/*.landing_price_member:before {*/
/*content: "\e904";*/
/*font-size: 80px;*/
/*!*position: absolute;*!*/
/*left: -5px;*/
/*top: -45px;*/
/*}*/
/*.landing_price_project:before {*/
/*content: "\e905";*/
/*}*/
/*.landing_price_space:before {*/
/*content: "\e906";*/
/*}*/

.landing_price_member {
    /*font-size: 20px;*/
    /*width: 500px;*/
    /*margin: 0.25em -1em;*/
    /*padding: 0.1em 40px;*/
    /*line-height: 1.45;*/
    /*position: relative;*/
}

